//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 06 00:21:00 2017
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P56" LEVEL 1;
COMP "CTL_PIN1" LOCATE = SITE "P79" LEVEL 1;
SCHEMATIC END;

